{% extends 'encyclopedia/layout.html' %}

{% block title %} New Page {% endblock %}

{% block body %}
    <h1>Add new Wiki</h1>

    <form action="{% url 'wiki:add_wiki' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'wiki_title' %}
                <div>
                    <label for="id_wiki_title"> Wiki Title: </label>
                    {{ field }}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
            <br>
        {% endfor %}

        <div>
            <input type="submit" name="" id="">
        </div>
    </form>
{% endblock %}
